<div>
    <div class="container text-center">
  <% for post in @posts %>
      <div class="row">
        <div class="col">
      <h4>
        <%# find user who created post %>
        <% user = User.find_by({ "id" => post["user_id"] }) %>
        <%# handle any potential bad data where the post is missing a user %>
        <% if user %>
          <%= user["first_name"] %>
        <% else %>
          anonymous
        <% end %>
                </div>
        </div>
      </h4>
      <img src="<%= post["image"] %>">
      <p><%= post["body"] %></p>
        <% end %>
 
    </div>

</div>